#city {
  font-family: "Libre Baskerville", serif;
}
#app-border {
  border: 2.5px solid #583d72;
  padding: 15px;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 700px;
  box-shadow: 5px 3px 3px #edeef7;
  background-color: #ffe3e3;
}

.weatherSearchField {
  margin-bottom: 20px;
  font-family: "Libre Baskerville", serif;
}
#city-name-search {
  width: 60%;
}

#search-button {
  color: #ff8474;
  background-color: #583d72;
  border-radius: 3px;
  border: none;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 15%;
}

#search-button:hover {
  color: #583d72;
  background-color: #ff8474;
  transition: 200ms;
}
h1 {
  color: #9f5f80;
}
#date-time {
  padding: 0px;
  list-style-type: none;
  color: #ff8474;
}
#cloud-icon {
  font-size: 60px;
  margin-right: 15px;
}
#current-temp {
  font-size: 60px;
  margin-left: none;
}
#icon-fact-row {
  margin-left: 0px;
  margin-right: 0px;
}
#weather-stats {
  padding: 0px;
  list-style-type: none;
  color: #ff8474;
  margin-left: 100px;
  margin-top: 10px;
  font-family: "Libre Baskerville", serif;
}
.weekDayImage {
  font-size: 25px;
  color: #583d72;
}
li {
  font-family: "Libre Baskerville", serif;
}
.col {
  font-family: "Libre Baskerville", serif;
}
