body {
  background-color: #f9f7fe !important;
}
#city {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  font-weight: bold;
}
#app-border {
  padding: 40px;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 700px;
  box-shadow: 5px 3px 3px #edeef7;
  background-color: white;
}

.weatherSearchField {
  margin-bottom: 20px;
  color: #a8a9ad;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}

#search-button {
  color: #f9f7fe;
  background-color: #1d2d50;
  border-radius: 3px;
  border: none;
}

#search-button:hover {
  color: #1d2d50;
  background-color: #f9f7fe;
  border: #1d2d50;
  transition: 200ms;
}
h1 {
  color: #1d2d50;
}
#date-time {
  padding: 0px;
  list-style-type: none;
  color: #a8a9ad;
}
#cloud-icon {
  font-size: 60px;
  margin-right: 15px;
  color: #1d2d50;
}
#current-temp {
  font-size: 60px;
  margin-left: none;
  color: #1d2d50;
}
#icon-fact-row {
  margin-left: 0px;
  margin-right: 0px;
}
#weather-stats {
  list-style-type: none;
  color: #ff8474;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  color: #a8a9ad;
  margin-left: 10px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: -20px;
}
#weather-stats-style {
  float: left;
}
#celsius {
  color: #1d2d50;
}
#farenheit {
  color: #1d2d50;
}
#days-of-week {
  text-align: center;
  padding-top: 50px;
  margin-left: 2px;
}
.weekDayImage {
  font-size: 25px;
  color: #1d2d50;
}
li {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}
.col {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}
small {
  color: #a8a9ad;
}
