body {
  background-color: #f9f7fe !important;
}
#city {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  font-weight: bold;
}
#app-border {
  padding: 40px;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 700px;
  box-shadow: 5px 3px 3px #edeef7;
  background-color: white;
}

.weatherSearchField {
  margin-bottom: 20px;
  color: #a8a9ad;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}

#search-button {
  color: #f9f7fe;
  background-color: #1e3163;
  border-radius: 3px;
  border: none;
}

#search-button:hover {
  color: #1e3163;
  background-color: #8fc1d4;
  border: #8fc1d4;
  transition: 200ms;
}
h1 {
  color: #8fc1d4;
}
.overview {
  max-height: 100px;
  height: 100%;
}
#date-time {
  padding: 0px;
  list-style-type: none;
  color: #a8a9ad;
}
#today-weather {
  text-transform: capitalize;
}
#icon {
  position: relative;
  bottom: 50px;
  right: 25px;
}
#current-temp {
  font-size: 90px;
  margin-left: none;
  color: #1e3163;
}
.unit {
  color: #1e3163;
  position: relative;
  top: -43px;
  font-size: 15px;
  font-weight: bold;
  font-size: 18px;
}

:link {
  text-decoration: none;
}

#icon-fact-row {
  margin-left: 0px;
  margin-right: 0px;
}
#weather-stats {
  list-style-type: none;
  color: #ff8474;
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  color: #a8a9ad;
  position: relative;
  bottom: -30px;
  left: 25px;
}
#weather-stats-style {
  float: left;
}
#celsius {
  color: #1d2d50;
}
#farenheit {
  color: #1d2d50;
}
#forecast {
  text-align: center;
  padding-top: 50px;
  margin-left: 2px;
}
.weather-forecast-temperature-min {
  font-size: 14px;
  color: #a8a9ad;
}

li {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}
.col {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}
.website-link {
  color: #1e3163;
}
